Making dataframe from a wikipeia page.
Columns of the dataframe are **PostalCode**, **Borough**, and **Neighborhood**.

In [1]:
import pandas as pd


dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = dfs[0]
df.columns=['PostalCode','Borough','Neighbourhood']
print(df.shape)
df.head()

(287, 3)

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

Eliminate rows where a **borough** is **Not assgined**.

In [2]:
df2=df[df.Borough != 'Not assigned']
print(df2.shape)
df2.head()

(210, 3)

  PostalCode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

Combining multiple rows which have same **PostalCode** and **Borough**.

In [3]:
df3= df2.groupby(['PostalCode','Borough'],as_index=False).agg(lambda x: ','.join(x))
df3.reset_index()
print(df3.shape)
df3.head()

(103, 3)

  PostalCode      Borough                         Neighbourhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

For cells whose **Neighbourhood** is **Not assigned**, the **Neighbourhood** will be the same as **Borough**.

In [4]:
df3.loc[df3['Neighbourhood']=="Not assigned",'Neighbourhood']=df3.loc[df3['Neighbourhood']=="Not assigned",'Borough']

print('The shape of dataframe is ',df3.shape)
df3.head()

The shape of dataframe is  (103, 3)

  PostalCode      Borough                         Neighbourhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae